body{
  background-color: rgb(25, 32, 32);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: aliceblue;
  /* background-image:url("IMAGES/WhatsApp\ Image\ 2025-05-30\ at\ 12.15.53_18082a4e.jpg") ; */
  padding: 50px;  
}
.cv-container{
  background-color: rgb(3, 1, 15);
  padding: 25px;
  padding-top: 4px;
  border-top: 5px solid;
  background-image: url("IMAGES/WhatsApp\ Image\ 2025-05-30\ at\ 12.15.53_18082a4e.jpg");
  opacity: 0.8;
  border-radius: 15px;
  align-items: center;
}
.header{
  /* color: rgb(133, 12, 177); */
  /* background-color: burlywood; */
  line-height: normal;
  text-decoration: none;
  padding-bottom: 3px;
}
h1{
color: aliceblue;
font-size: 30px;
opacity: 0.8;
}
.head{
  color: rgb(37, 219, 100);
  font-size: 20px;
}
a{
  color: aliceblue;
  text-decoration: none;
}
.content{
  color: rgb(59, 177, 216);
  font-size: 15px;
}
#link{
  color: blue;
  font-size: large;
}